html {
  overflow-y: auto !important;
}

.grid-background {
  background-color: #f7f7f8;
  background-image:
    linear-gradient(45deg, #eae9ed 25%, transparent 25%, transparent 75%, #eae9ed 75%, #eae9ed),
    linear-gradient(-45deg, #eae9ed 25%, transparent 25%, transparent 75%, #eae9ed 75%, #eae9ed);
  background-size: 20px 20px;
}

#app.v-theme--dark.grid-background {
  background-color: #171a1d !important;
  background-image:
    linear-gradient(45deg, #292e34 25%, transparent 25%, transparent 75%, #292e34 75%, #292e34),
    linear-gradient(-45deg, #292e34 25%, transparent 25%, transparent 75%, #292e34 75%, #292e34) !important;
  background-size: 20px 20px !important;
}
