.v-theme--light {
  /* For scrollbar */
  --sb-track-color: transparent;
  --sb-thumb-color: #757272;

  /* For grid-background */
  --grid-bg-color: #f7f7f8;
  --grid-line-color: #eae9ed;
}

.v-theme--dark {
  /* For scrollbar */
  --sb-track-color: transparent;
  --sb-thumb-color: #a09ca7;

  /* For grid-background */
  --grid-bg-color: #171a1d;
  --grid-line-color: #292e34;
}
